@font-face {
  font-family:  'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

*{
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100hv;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background-image: url('./main/Q1QP.gif');
}
